<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produtos 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-fab  size="small" vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/carrinho" routerDirection="forward" color="tertiary">
          <ion-icon name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  <ion-list>
    <ion-item  button *ngFor="let produto of produtosDTO" (click)="showDetail(produto.cod_produto)">
      <ion-thumbnail class="thumbimg" size="large" slot="start">
        <img [src]="produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>{{produto.nome}}</h2> <br>
        <p class="money">{{produto.preco | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
