<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label position="stacked">Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Senha*</ion-label>
      <ion-input formControlName="senha" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Telefone 1*</ion-label>
      <ion-input formControlName="telefone1" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.telefone1.dirty && formGroup.controls.telefone1.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Telefone 2</ion-label>
      <ion-input formControlName="telefone2" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF*</ion-label>
      <ion-input formControlName="cpf" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Logradouro*</ion-label>
      <ion-input formControlName="logradouro" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.logradouro.dirty && formGroup.controls.logradouro.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Número*</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.numero.dirty && formGroup.controls.numero.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input formControlName="bairro" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CEP*</ion-label>
      <ion-input formControlName="cep" type="text"></ion-input>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.cep.dirty && formGroup.controls.cep.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Estado*</ion-label>
      <ion-select formControlName="estado" (ionChange)="updateCidades()">
        <ion-select-option value="Maranhão">Maranhão</ion-select-option>
        <ion-select-option value="Piaui">Piaui</ion-select-option>
        <ion-select-option value="Pará">Pará</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.estado.dirty && formGroup.controls.estado.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked">Cidade*</ion-label>
      <ion-select formControlName="cidade">
          <ion-select-option *ngFor="let cidade of cidades;let i=index" [value]="cidade">{{cidade}}</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="invalid" *ngIf="formGroup.controls.cidade.dirty && formGroup.controls.cidade.errors" margin-left>Valor inválido</p>
    <ion-button color="tertiary" expand="block" type="submit" [disabled]="formGroup.invalid">Criar conta</ion-button>
  </form>
</ion-content>