.avatar{
    width:100% !important;  
    height : 100% !important;  
    max-width: 140px !important;  //any size
    max-height: 140px !important; //any size 
    margin: 25px auto 0 auto;
}
ion-content{
    --ion-background-color: var(--ion-color-dark);
    --ion-text-color: var(--ion-color-dark-contrast);
}