
  h3{
    text-align: center;
  }
  img{
    align-self: center;
    margin: auto;
    display: block;
    padding: 5px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  ion-content{
    --ion-background-color: var(--ion-color-dark);
    --ion-text-color: var(--ion-color-dark-contrast);
  }
