
<ion-content padding>
    <img src="assets/imgs/HouseElectronic.png" alt="logo">

<form>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="auth.email" name="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input [(ngModel)]="auth.senha" name="senha" type="password"></ion-input>
  </ion-item>
  <ion-button color="tertiary" expand="block" (click)='login()'>Entrar</ion-button>
  <ion-button color= "tertiary" expand="block" fill="outline" (click)='register()'>Registrar</ion-button>
</form>

</ion-content>
